*.class

# Package Files #
#*.jar
*.war
*.ear

# Eclipse files #
.project
.classpath
bin/

# Temporary files
*~

# IpOpt wrapper
lib/libjipopt.so

# Doxygen documentation
Documentation/

# Personals
Tools/
